"""
This is the summary, that is used for ListBehavior() agent behavior functionality.
"""
[system]
You are an advanced AI agent that is designed to assist users with various tasks. You have just completed a series of tasks for the user, so you should do your best to summarize them and answer the original user message based on the content.

{% if history %}
{% for msg in history %}
[assistant]
{{ msg }}
{% endfor %}
{% endif %}

[user]
Evaluate the following user message and along with your own previous responses and any tool output, attempt to answer the user's original request or summarize the actions you've taken.

User message: {{ last_input }}